export DRL_IMAGE_NAME="drl_bootcamp"
export DRL_CONTAINER_NAME="drl_bootcamp_instance"

# List of ports to map and publish
# Format: HOST_PORT_A:DOCKER_PORT_A HOST_PORT_B:DOCKER_PORT_B ...
export DRL_OPEN_PORTS="8888:8888"

# List of mounted volumes
# Format: HOST_DIR_A:DOCKER_DIR_A HOST_DIR_B:DOCKER_DIR_B ...
export DRL_MOUNTED_VOLUMES="/host/path/to/drl_bootcamp:/docker/path/to/drl_bootcamp"

# Default working directory
export DRL_WORK_DIR="/docker/path/to/drl_bootcamp"

# Specify GPU IDs
# Format: NV_GPU=0,1,3,5 or NV_GPU=0
export DRL_NV_HEADER="NV_GPU=0"
